body{

    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

    background-image: url("./car.jpg");
    background-size: cover;
    background-position: center;
    background-position: center center;
}
h2{

    text-transform: uppercase;
letter-spacing: 4px;
background-image: url("https://media.istockphoto.com/id/1398519163/photo/light-beam-is-shining-through-retina-and-lens-on-eyesight-exam.jpg?b=1&s=170667a&w=0&k=20&c=87ZmCJbxj1HzdyqKmuIHefUCBxnpEH9NrfeFvYASm-c=");
color: lawngreen;
background-size: cover;
text-align: center;

}
.btn1{

    text-transform: uppercase;
 color: rgb(252, 252, 252);
  background: rgb(255, 245, 248);
text-align: right;
font-size: 20px;
transition: .6s;


}
.btn1:hover{
   
    background-color: rgb(211, 208, 13);
transition: .7s;
    background-image: url("https://images.unsplash.com/photo-1465101162946-4377e57745c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHN0YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");

}
.clock{
    display: flex;

}
.clock div{
    margin:5px;

}
.clock span{

    width: 100px;
    height: 80px;
    background:slateblue ;
    opacity: .8;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.clock .text{

    height: 30px;
    font-size: 10px;

    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(218, 218, 230);
    opacity: 0.9;
}
.clock #ampm{

    bottom: 0;
    background: rgb(255, 255, 255);
}